<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BOMB DIFFUSE</title>
        <link rel="stylesheet" href="time-bomb.component.css">
    </head>
    <body>
        <div class="container">
            <h1>Time Bomb Diffusal</h1>
            <div id="timer">Time Left: <span>{{ timerDisplay }}</span></div>
            <button id="diffusebtn" (click)="diffuseBomb()">Diffuse</button>
            <button *ngIf="bombDiffused" (click)="goToNextPage()">Next</button>
        </div>
        
    </body>
</html>
