body {
    display: flex;
    background-color: white;
    width: 100vw;
    height: fit-content;
    align-items: center;
    min-height: 30vh;
    justify-content: center;
    
}

#main {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    height: 80vh;
}

#main #prompts {
    width: 50vw;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-style:oblique;
    font-size: x-small;
    margin: 5px;
}

#sectionholder {
    height: 50%;
}


#main #prompts .answered {
    background-color: green !important;
}

#main #prompts .unanswered {
    background-color: red !important;
}


h3 {
    font-size: 1.5rem;
    padding-top: 5px;
}