body {
    display: flex;
    background-color: white;
    width: 100vw;
    height: fit-content;
    align-items: center;
    min-height: 30vh;
    justify-content: center;
    font-family: "Roboto", sans-serif;

}

#main {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    
}

#main #prompts {
    width: 50vw;
    border-radius: 5px;
}

#main #prompts .answered {
    background-color: green !important;
}

#main #prompts .unanswered {
    background-color: red !important;
}


