<body>
  <section id="main">
    <div class="form-group">
      <input
        type="text"
        placeholder="Please input a password!"
        class="form-control form-control-lg"
        [formControl]="passwordControl"
      />
    </div>
    <div id="sectionholder">
      <section
        id="prompts"
        *ngFor="let prompt of currentPrompts"
        [ngStyle]="{ backgroundColor: prompt.answered }"
      >
        <h3>{{ prompt.question }}</h3>
        <br />
      </section>
    </div>
    <button (click)="nextPage()" class="btn btn-primary">Submit</button>
  </section>
</body>
